* {
    font-family: 'Courier New', Courier, monospace;
}

.p3 {
    color: blue;
}

/* Background colors */
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}

/* Background colors using opacity */
.redO {
    background-color: red;
    opacity: 0.5;
}
.greenO {
    background-color: green;
    opacity: 0.5;
}
.blueO {
    background-color: blue;
    opacity: 0.5;
}

/* Background colors using RGBA opacity */
.redA {
    background-color: rgb(255, 0, 0, 0.5);
}
.greenA {
    background-color: rgb(0,255,0,0.5);

}
.blueA {
    background-color: rgb(0,0,255,0.5);
 
}

/* Background Image */
.bkgdImage1{
    background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhZGllbnR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat; 
    background-size: cover;
}
.bkgdImage2{
    background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhZGllbnR8ZW58MHx8MHx8fDA%3D);
    background-repeat: repeat-x;   
}
/* Using the shorthand property */
.bkgdImage3{
    background: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhZGllbnR8ZW58MHx8MHx8fDA%3D) no-repeat center;
}

/* Background Borders */
.border1 {
    border-style: dotted;
}
.border2 {
    border-style: dashed;
}
.border3 {
    border-style: solid;
}
.border4 {
    border-style: double;
}
.border5 {
    border-style: groove;
}
.border6 {
    border-style: ridge;
}
.border7 {
    border-style: inset;
}
.border8 {
    border-style: outset;
}
.border9 {
    border-style: none;
}
.border10 {
    border-style: hidden;
}

/* Border Width */
.borderWidth1 {
    border-style: solid;
    border-width: 5px;
}
.borderWidth2 {
    border-style: solid;
    border-width: 5px 20px;
}

.borderWidth3 {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
    border-color: red green blue yellow;
}

.borderSides {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: double;
    border-left-style: groove;
}
.borderRadius {
   border: 5px pink solid;
   border-radius: 10px
}

/* Margins */
.margin{
    border: 3px black solid;
    margin: 50px;
}
.marginTop{
    border: 3px blue solid;
    margin-top: 50px;
}
.marginBottom{
    border: 3px pink solid;
    margin-bottom: 50px;
}
.marginLeft{
    border: 3px teal solid;
    margin-left: 50px;
}
.marginRight{
    border: 3px rgb(186, 183, 17) solid;
    margin-right: 50px;
}
.marginAll{
    border: 3px rgb(168, 63, 175) solid;
    margin: 50px 25px 80px 100px;
}
.marginAuto{
    border: 3px rgb(0, 155, 211) solid;
    width: 300px;
    margin: auto;
}
.marginCollapseBottom{
    border: 3px rgb(235, 12, 75) solid;
    margin: 0 0 50px 0;
}
.marginCollapseTop{
    border: 3px rgb(235, 12, 75) solid;
    margin: 25px 0 0 0;
}
/* Padding */
.padding{
    border: 3px black solid;
    padding: 50px;
}
.paddingTop{
    border: 3px rgb(12, 78, 21) solid;
    padding-top: 50px;
}
.paddingRight{
    border: 3px rgb(118, 206, 186) solid;
    padding-right: 50px;
}
.paddingBottom{
    border: 3px rgb(211, 144, 144) solid;
    padding-bottom: 50px;
}
.paddingLeft{
    border: 3px rgb(241, 244, 30) solid;
    padding-left: 50px;
}
.width300{
    background-color: yellow;
    border: 2px black solid;
    width: 300px;
}
.paddingNoBox{
    background-color: yellow;
    border: 3px rgb(241, 244, 30) solid;
    border: 2px black solid;
    width: 300px;
    padding: 50px;
}
.paddingBox{
    background-color: yellow;
    border: 2px rgb(0, 0, 0) solid;
    width: 300px;
    padding: 50px;
    box-sizing: border-box;
}
.heightWidth{
    border: 2px black solid;
    height: 100px;
    width: 100%;
}
.widthNoMax{
    border: 2px black solid;
    height: 100px;
    width: 800px;
}
.maxWidth{
    border: 2px black solid;
    height: 100px;
    max-width: 800px;
}
/* Box Model */
.boxModel{
background-color: gray;
border: 10px blue solid;
padding: 50px;
margin: 60px;
}

/* Outline */
.outline {
    border: 10px black solid; 
    outline-style:dotted;
    outline-color: rgb(127, 6, 121);
    outline-width: 6px;
}
.outlineOffset {
    border: 10px rgb(191, 80, 170) solid; 
    outline: 3px black solid;
    outline-offset: 15px;
}
/* Text */
.text {
    color: rgb(107, 73, 11);
    background-color: burlywood;
    text-align: center;
    word-spacing: 5px;
}
.textAlign {
    color: rgb(107, 73, 11);
    text-align: justify;
 
}
.textLast{
    color: rgb(14, 43, 207);
    text-align-last: right;
}
.textCenter{
    color: rgb(14, 43, 207);
    text-align-last: center;
}
.overline {
text-decoration-line: overline;
}
.underline {
    text-decoration-line: underline;
}
.lineThrough {
    text-decoration-line: line-through;
}
.overUnder {
    text-decoration-line: overline underline;
}
.textStyle {
    text-decoration: underline pink wavy 5px;
}
.textStyleNone {
    text-decoration: none;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.indent {
    text-indent:50px;
}
.spacing{
    letter-spacing:10px;
}
.negSpacing{
    letter-spacing:-2px;
}
.wordSpacing{
    word-spacing:10px;
}
.lineHeight{
    line-height: 1.6;
}
.noWrap{
    white-space: nowrap;
}
.shadow{
    text-shadow: 2px 2px red;
}
.shadowBlur{
    text-shadow: 2px 2px 5px red;
}